<h2>Movies Create</h2>
<%= form_with(model: @movie, url: admin_movies_path, class: "movie-form") do |f| %>
  <div class="field">
    <%= f.label :name, "タイトル", class: "label" %>
    <%= f.text_field :name, class: "value" %>
  </div>

  <div class="field">
    <%= f.label :year, "公開年", class: "label" %>
    <%= f.number_field :year, class: "value" %>
  </div>
  <div class="field">
    <%= f.label :is_showing, "上映中", class: "label" %>
    <%#= f.check_box :is_showing %>
    <%= f.select :is_showing, [['上映中', true], ['終演', false]], {}, class: "value" %>
  </div>
  <div class="field">
    <%= f.label :description, "概要", class: "label" %>
    <%= f.text_area :description, class: "value" %>
  </div>

  <div class="field">
    <%= f.label :image_url, "画像URL", class: "label" %>
    <%= f.text_field :image_url, class: "value" %>
  </div>
  <div class="actions">
    <%= link_to "Back", admin_movies_path, class: 'back-btn' %>
    <%= f.submit "Save", class: "save-btn" %>
  </div>
<% end %>