<% if flash[:alert] %>
  <div class="alert"><%= flash[:alert] %></div>
<% end %>

<h2>上映登録</h2>
<%= form_with(model: @schedule, url: admin_schedules_path, class: "movie-form") do |f| %>
  <div class="field">
    <%= f.label :movie_id, "上映映画ID", class: "label" %>
    <%= f.number_field :movie_id, class: "value" %>
  </div>

  <div class="field">
    <%= f.label :start_time, "上映開始時間", class: "label" %>
    <%= f.datetime_field :start_time, class: "value" %>
  </div>
  <div class="field">
    <%= f.label :end_time, "上映終了時間", class: "label" %>
    <%= f.datetime_field :end_time, class: "value" %>
  </div>

  <div class="actions">
    <%= link_to "Back", admin_movie_path(@schedule.movie_id), class: 'back-btn' %>
    <%= f.submit "Save", class: "save-btn" %>
  </div>
<% end %>